.bookingDesign{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.mt{
    margin-top: 5em;
    background-color: brown;
  
}

.editButton{
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}