.bookingDesign{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.mt{
    margin-top: 5em;
    border-radius: solid, 0,1em white;

}

.table2{
    height: 3em;
    border: solid white;
    margin: 0.5em;
    ;
}
.table2:hover{
    background-color: brown;
}



.editButton{
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.deleteButtton{
    background-color: azure;
    color: blueviolet;
}