.bookingDesign{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    min-height: 125vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bold;  
    flex-direction: column;
}



.pic{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-top: 1em;
}

.picSelected{
    background-color: brown;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-top: 1em;
}


.pic:hover{
   background-color: brown;
   
}

.createForm{
    margin-top: 3em;
}

.buttonColor{
    background-color: brown;
}