.profileDesing{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: 92vh;
    color: white;
    justify-content: center;
    justify-content: center;
    
  }
  .ee{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    
  }

.containerProfile{
  background: linear-gradient(to right, black, rgb(59, 56, 56));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  

}
  .desingp{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: brown;
    width: 10em;
    margin-top: 1em;
    border-radius: 10%;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .desingpp{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: brown;
    width: 10em;
    margin-top: 8em;
    border-radius: 10%;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .desingButton{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: brown;
    width: 5;
    margin-top: 1em;
    border-radius: 10%;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .desingp:hover{
    transform: scale(1.2);

  }
  .desingpp:hover{
    transform: scale(1.2);

  }
    

