.homeDesing{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: 92vh;
    
    
}

.start{
    display: flex;
    align-items: flex-start;
}
.box{
    background-color: whitesmoke;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routes{
    background-color: rgb(153, 200, 104);
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pepe{
    width: 30%;
    height: 70%;
    margin: 1em;
}

.pepe:hover{
   filter: brightness(60%);
   
}


.goToRegister{
    background-color: brown;
    height: 4em;
    width: 97%;
}
.goToRegister:hover{
    background-color: rgb(198, 28, 28);
    
}

.firstImg{

    width: 100%;
    height: 17em;
}

@media(max-width:720px){
    .firstImg{
        height: 8em;
    }
}
.asfalto{

    width: 100%;
    height: 25em;
}

.carousel{
    height: 400px;
}