.homeDesing{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: fit-content;
    
    
}

.start{
    display: flex;
    align-items: flex-start;
}
.box{
    background-color: whitesmoke;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.break{
    height: 10em;
    background-color: azure;
}
.routes{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.endBox{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.endBox2{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    height: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.images{
    width: 20%;
    height: 70%;
    margin: 1em;
    transition: transform 0.3s ease;
    /* border-radius: 50% 0 0 0; */
}

.images:hover{
   filter: brightness(60%);
   transform: scale(1.2);
   
}

@media screen and (max-width: 768px){
    .images{
        
        height: 30%;
        width: 40%;

    }

    .images2{
        width: 80%;
        height: 70%;
    }
    .endBox2{
        height: 5em;

    }
    .break{
        display: none;
    }
}


.images2{
    margin: 2em;
    height: 90%;
    transition: transform 0.3s ease;
    
}
.images2:hover{
    margin: 2em;
    height: 90%;
    filter: brightness(60%);
    transform: scale(1.2);
    
    
}


.goToRegister{
    background-color: brown;
    height: 4em;
    width: 97%;
    transition: letter-spacing 0.3 ;
}
.goToRegister:hover{
    background-color: rgb(198, 28, 28);
    letter-spacing: 1em;
    
}

.firstImg{

    width: 100%;
    height: 17em;
}

@media(max-width:720px){
    .firstImg{
        height: 8em;
    }
}
.asfalto{

    width: 100%;
    height: 25em;
}

.carousel{
    height: 400px;
}