.opinionDesign{
    background: linear-gradient(to right, black, rgb(59, 56, 56));
    min-height: 88vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bold;
    flex-direction: column;
    
}

.width{
    width: 100vw;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviewsDesing{
    justify-content: center;
}

.button{
    width: 2em;
    height: 2em;
    background-color: aqua;
}

/* .error{
    color: black;
} */